# Folders
Binaries
DerivedDataCache
Intermediate
Saved
Content/__ExternalActors__
Content/__ExternalObjects__
Content/FirstPerson
Content/FirstPersonArms
Content/FPWeapon
Content/LevelPrototyping
Content/MedievalDungeon

# Filetypes
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace